:root {
    --gitalk-theme-color: {{ .Site.Params.page.comment.gitalk.themeColor }};
}

.gitalk-container .gitalk-header,
.gitalk-container .gitalk-footer,
.gitalk-container .gitalk-editor .gitalk-editor-title {
    background-color: var(--gitalk-theme-color);
    color: white; /* 根据需要设置文字颜色 */
}
